.style{
 background-color: #F2F2F2;
    width: 340px;
    height: 55px;
    border: 0   ;
    font-size: 15px;

}

.big       {
    background-color: white;
    width: 380px;
    height: 420px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    padding: 45px;
    box-shadow: 1px 1px 10px black;
}
.style2{
    background-color: #F2F2F2;
    width: 340px;
    height: 55px;
    margin-top: 15px;
    border: none;
    font-size: 15px;
}
.knopka{
    background-color: #4CAF50;
    width: 348px;
    height: 55px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
}
.style:focus{
    border:0 solid white;
}
